// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";
@include foundation-everything;
@include foundation-flex-grid;
@import 'bourbon';
@import 'neat';
@import 'font-awesome';
@import 'motion-ui';

/// Portfolio Colors ///
$redOrange: #FF4734;
$blackPearl: #1E2B2F;
$blackRussian: #24282A;
$blueHalfBaked: #8FBEC8;
$grayOyster: #D4EBF0;
$grayLight: #E6E6E6;
$grayAztec: #161D1E;
$grayIron: #CBCBCB;
$whiteSmoke: #F6F6F6;
$greenMalachite: #00DC70;


// Porfolio Fonts //
$workSans: 'Work Sans', sans-serif;




body {
  background: $whiteSmoke;

///// Landing Page /////
  
  .homeBg {
    position: relative;
  }

  .logo {
  position: absolute;
  top: 3%;
  left: 10px;
  width: 150px;
  -webkit-animation: spin 1s linear; /* Safari 5, Chrome */
    -moz-animation: spin 1s linear; /* Firefox 5-15 */
      -o-animation: spin 1s linear; /* Opera 12+ */
        animation: spin 1s linear; /* Safari 5, Chrome, Firefox 16+ */
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
  }
  @-o-keyframes spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .homeMenu {
  position: absolute;
  top: 3%;
  left: 420px;

    li a {
      color: #fff;
      margin-right: 25px;
    }

    li a:hover {
      text-decoration: underline;
    }
  }

  .social {
    position: absolute;
    top: 3%;
    right: 10px;

    .fa {
      color: $redOrange;
      margin-right: 25px;
      transition: all 0.25s ease-out;
    }

    .fa:hover {
      color: #fff;
      transition: all 0.25s ease-out;
    }
  }

  .container {

    .myName {
    position: absolute;
    top: 300px;
    left: 300px;
    }

    .homeBtns {
      position: absolute;
      top: 440px;
      left: 490px;

      .contactBtn,
      .portfolioBtn {
        color: #fff;
        padding: 10px 20px;
        margin-right: 25px;
        border: 2px solid $redOrange;
      }
    }
  }

///// About Section /////

  .about {
    margin-top: 10%;
    width: 100%;
    height: 441px;
    // border: 2px dashed black;

    .myPicDiv {
      float: left;
      height: 40px;
      width: 30%;
      height: 400px;
      margin-left: 10%;
      // border: 1px solid $grayLight;

      .myPic {
      float: left;
      width: 94%;
      height: 380px;
      margin: 2.5% 0 0 3%;
      }
    }

    .bioBlock {
      width: 50%;
      display: flex;
      flex-direction: column;
      height: 470px;
      border: 1px solid $grayLight;
      background: #fff;
      position: absolute;
      left: 38%;
      top: 118%;
      z-index: -999;

      .para1 {
        padding: 5%;
      }

      h5 {
        padding: 0 5%;
        font-weight: bold;
      }

      .para2 {
        padding: 0 5%;
      }
    }

    .skills {
      width: 80%;
      // border: 1px solid red;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 195%;
      margin-left: 7%;

      h5 {
        margin-left: 7%;
        font-weight: bold;
      }

      img {
        width: 8%;
        height: 8%;
        margin-top: 2%;
        margin-left: 8%;
      }

      .second {
        margin-top: 5%;
      }
    }
  }

///// Portfolio Section /////

  .portfolio {
    margin-top: 40%;
    width: 100%;
    height: 688px;
    background: url('../images/citybg.png');

    h3 {
      text-align: center;
      color: #fff;
      padding-top: 8%;
    }

    .myWorks {
      margin-left: 18%;

      .projects,
      .graphics {
        float: left;  

        small {
          display: block;
          margin-left: 30%;
          color: #fff;
        } 
      }

      .projects img:hover,
      .graphics img:hover {
        transform: rotateY(360deg);
        transform-style: preserve-3d;
        transition: all 1.5s linear;
      }
    }
  }

///// Contact Section /////  

  .contact {
    margin-top: 10%;
    margin-bottom: 5%;

    .contactForm {
      width: 80%;
      // border: 1px solid red;
      margin-left: 10%;

      h3 {
        text-align: center;
        margin-bottom: 5%;
      }

      .input1 {
        width: 43%;
        margin-right: 0;
        margin-left: 2%;
        float: left;
      }

      .inputLeft {
        margin-top: 6px;
      }

      .input2 {
        width: 50%;
        float: right;
        margin-right: 3%;
      }

      .button {
        margin-top: 20%;
        margin-left: -43%;
        background: $redOrange;
        transition: 1s;
      }

      .button:hover {
        background: $grayAztec;
        transition: 1s;
      }
    }
  }

///// Footer Section /////

  footer {
    background: $blackRussian;
    height: 100%;

    .footerInfo {
      padding-top: 2%;
      padding-left: 2%;
      padding-right: 2%;
      height: 50%;
      display: flex;
      // border: 1px solid red;
      justify-content: space-between;

      .contactMe {
        margin-top: 2%;

        a {
          color: $redOrange;
        }

        h5 {
          color: #fff;
          // background: $redOrange;
          border: none;
          border-radius: 5px;
          width: 75%;
          // text-align: center;
        }

        hr {
          margin-top: 0;
          border: 0;
          border-top: 1px solid $redOrange;
        }

        p {
          color: #fff;
          margin: 0 auto;
        }
      }

      .socialFooter {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        // border: 1px solid blue;
        width: 19%;
        height: 40px;
        margin-top: 2%;
        margin-left: 4%;

        .fa {
          color: $redOrange;
          margin-right: 25px;
          transition: all 0.25s ease-out;
        }

        .fa:hover {
          color: #fff;
          transition: all 0.25s ease-out;
        }

        .followMe {
          width: 60%;
          color: #fff;
          text-align: center;
          margin-left: 12%;
          margin-top: 4%;
        }

        hr {
          border: 0;
          border-top: 1px solid $grayAztec;
        }
      }

      .footerLogo {
        width: 15%;
      }
    }

    .copyright {
      height: 75px;
      background: $grayAztec;

      p {
        color: #fff;
        text-align: center;
        padding-top: 2%;
      }

      img {
        width: 6%;
        position: absolute;
        top: 3220px;
        left: 94%;
      }

      img:hover {
        border: 1px solid $redOrange;
        border-radius: 205px;
      }
    }
  }

/////////// Projects Page View /////////////

  .projectsBg {
    position: relative;
    height: 678px;
    width: 100%;
    // -webkit-animation: fadeAndScale 1.5s ease-in; /* Safari 5, Chrome */
    // -moz-transform: fadeAndScale 1.5s ease-in; /* Firefox 5-15 */
    // -o-transform: fadeAndScale 1.5s ease-in; /* Opera 12+ */
    // transform: fadeAndScale 1.5s ease-in; /* Safari 5, Chrome, Firefox 16+ */
  }
  // @-webkit-keyframes fadeAndScale {
  //   from { opacity: 0;
  //         transform: scale3d(.75, .75, 1); }
  //   to { opacity: 1;
  //         transform: scale3d(1, 1, 1); }
  // }
  // @-moz-keyframes fadeAndScale {
  //   from { opacity: 0;
  //         transform: scale3d(.75, .75, 1); }
  //   to { opacity: 1;
  //         transform: scale3d(1, 1, 1); }
  // }
  // @-o-keyframes fadeAndScale {
  //   from { opacity: 0;
  //         transform: scale3d(.75, .75, 1); }
  //   to { opacity: 1;
  //         transform: scale3d(1, 1, 1); }
  // }
  // @keyframes fadeAndScale {
  //   from { opacity: 0;
  //         transform: scale3d(.75, .75, 1); }
  //   to { opacity: 1;
  //         transform: scale3d(1, 1, 1); }
  // }

  .bread {
    position: absolute;
    top: 2%;
    margin-left: 1%;

    a {
      color: $redOrange;
    }
  }

  .projectHeader {
    color: $redOrange;
    padding-top: 5%;
    font-family: $workSans;
    font-weight: 200;
    position: absolute;
    top: 30%;
    margin-left: 39.5%;
    font-size: 5em;
    animation: slideIn 1.2s ease-in;
  }

  @keyframes slideIn {
    from {
      margin-top: -200px;
    }
    to {
      margin-top: -10px;
    }
  }

  .outer {
    // height: 20px;

    .workGallery {
      position: absolute;
      top: 80%;
      height: 100px;
      margin-left: 6%;
      -webkit-animation: fadeAndScale 1.5s ease-in; /* Safari 5, Chrome */
      -moz-transform: fadeAndScale 1.5s ease-in; /* Firefox 5-15 */
      -o-transform: fadeAndScale 1.5s ease-in; /* Opera 12+ */
      transform: fadeAndScale 1.5s ease-in; /* Safari 5, Chrome, Firefox 16+ */

      .wrapper {
        width: 18%;
        height: 105%;
        float: left;
        margin-right: 1%;
        margin-bottom: 1%;
        border: 1px solid $grayLight;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          transition: transform 800ms;
        }
      }

      .wrapper:hover {
        border: 5px solid rgba(255,71,52,0.5);
        transition: 1s;
      }

      .content {
        width: 100%;
        height: 100px;
        background: rgba(black, 0.5);
        transition: transform 300ms;
        position: relative;
      }

      .wrapper:hover .content {
        transform: translateY(-100px);
        cursor: pointer;
      }

      .text_area {
        color: #fff;
        font-family: $workSans;
        // font-weight: 200;
        width: 100%;
        // height: 40px;
        // background: $blackPearl;
        text-align: center;
        padding-top: 10px;
        position: absolute;
        // margin-top: 100px;
        font-size: 1.5em;
        cursor: pointer;
        display: none;
      }

      .wrapper:hover .text_area {
        display: block;
      }

      .wrapper:hover img {
        transform: scale(2,2) rotate(360deg);
      }
    }
    @-webkit-keyframes fadeAndScale {
    from { opacity: 0;
          transform: scale3d(.75, .75, 1); }
    to { opacity: 1;
          transform: scale3d(1, 1, 1); }
    }
    @-moz-keyframes fadeAndScale {
      from { opacity: 0;
            transform: scale3d(.75, .75, 1); }
      to { opacity: 1;
            transform: scale3d(1, 1, 1); }
    }
    @-o-keyframes fadeAndScale {
      from { opacity: 0;
            transform: scale3d(.75, .75, 1); }
      to { opacity: 1;
            transform: scale3d(1, 1, 1); }
    }
    @keyframes fadeAndScale {
      from { opacity: 0;
            transform: scale3d(.75, .75, 1); }
      to { opacity: 1;
            transform: scale3d(1, 1, 1); }
    }
  }

  //// Project Modal ////

  .revealInfo {
    width: 42%;
    float: left;
    margin-right: 1%;

    h3 {
      margin-bottom: 8%;
      font-family: $workSans;
      text-align: center;
      color: $grayAztec;
    }

    p {
      text-align: center;
    }

    .skillLabels {
      margin-left: 4%;

      h6 {
        font-weight: bold;
      }
    }

    hr {
      width: 93%;
      border-top: 1px solid $grayIron;
    }

    .projectLinks {
      margin-top: 10%;
      margin-left: 24%;

      .liveDemo,
      .sourceCode {
        float: left;

        .fa-2x {
          margin-left: 30%;
        }

        a {
          display: block;
          color: $redOrange; 
          transition: 0.5s; 
        }

        a:hover {
          color: $greenMalachite;
          transition: 0.5s;
        }
      }

      .liveDemo {
        margin-right: 12%;
      }
    }
  }

  .revealVideo {
    margin-top: 2%;

    .revealImg {
      width: 54%;
      border: 1px solid $grayLight;
    }
  }

/////////// Graphics Page View /////////////

  .graphicBg {
    position: relative;
    height: 678px;
    width: 100%;
  }

  a.graphicBread {
    color: #fff;
  }

  .graphicHeader {
    color: $redOrange;
    background: black;
    padding: 0 1%;
    // padding-top: 5%;
    font-family: $workSans;
    font-weight: 200;
    position: absolute;
    top: 10%;
    margin-left: 52.5%;
    font-size: 6em;
    animation: ScaleIn 1s ease-in;
  }

  @-webkit-keyframes ScaleIn {
    from { opacity: 0;
          transform: scale3d(.75, .75, 1); }
    to { opacity: 1;
          transform: scale3d(1, 1, 1); }
  }

  .graphicLogos {

    .localize {
      position: absolute;
      top: 12%;
      width: 42%;
    }

    .flashCard {
      position: absolute;
      left: 5%;
      top: 35%;
      width: 32%;
    }

    .flashDeck {
      position: absolute;
      top: 70%;
      left: 20%;
      width: 33%;
    }

    .glimpse {
      position: absolute;
      top: 35%;
      right: 25%;
      width: 30%;
    }

    .pawpals {
      position: absolute;
      top: 60%;
      right: 12%;
      width: 22%;
    }

    .localize:hover,
    .flashCard:hover,
    .flashDeck:hover,
    .glimpse:hover,
    .pawpals:hover {
      animation: shake 1s infinite ease-in;
      cursor: pointer;
    }

    @-webkit-keyframes shake {
       0% { -webkit-transform:     translate(2px, 1px) rotate(0deg); }
      10% { -webkit-transform:     translate(-1px, -2px) rotate(-2deg); }
      20% { -webkit-transform:     translate(-3px, 0px) rotate(3deg); }
      30% { -webkit-transform:     translate(0px, 2px) rotate(0deg); }
      40% { -webkit-transform:     translate(1px, -1px) rotate(1deg); }
      50% { -webkit-transform:     translate(-1px, 2px) rotate(-1deg); }
      60% { -webkit-transform:     translate(-3px, 1px) rotate(0deg); }
      70% { -webkit-transform:     translate(2px, 1px) rotate(-2deg); }
      80% { -webkit-transform:     translate(-1px, -1px) rotate(4deg); }
      90% { -webkit-transform:     translate(2px, 2px) rotate(0deg); }
      100% { -webkit-transform:    translate(1px, -2px) rotate(-1deg); }
    }
  }
}
