<!-- Landing Page  -->
  <nav class='topNav'>
    <img src="/images/laptopbg.png" class='homeBg'>
    <a href="/#"><img ng-src='/images/mylogowhite.png' class='logo'></a>

      <ul class='menu homeMenu' data-magellan>
        <li><a href='#first'>Home</a></li>
        <li><a href=''>About</a></li>
        <li><a href=''>Portfolio</a></li>
        <li><a href=''>Contact</a></li>
      </ul>

    <section class='social'>
      <a href='https://twitter.com/TekkieNinja' target='_blank'><i class="fa fa-twitter fa-2x"></i></a>
      <a href='https://github.com/hyonakim' target='_blank'<i class="fa fa-github-alt fa-2x"></i></a>
      <a href='https://medium.com/@hyonakim' target='_blank'<i class="fa fa-medium fa-2x"></i></a>
    </section>
  </nav>

  <section class='container'>
    <img src='/images/myname.png' class='myName'>
    <div class='homeBtns'>
      <button class='alert hollow button contactBtn'>Get in Touch</button>
      <button class='alert hollow button portfolioBtn'>Portfolio</button>
    </div>
  </section>

<!-- About Section -->
  <section class='about'>
    <div class='myPicDiv'>
      <img ng-src='../images/bwme.png' class='myPic'>
    </div>
    <div class="bioBlock">
      <p class='para1'>
        My professional experience has mostly been affiliated with digital and online technologies. Dynamic content creation and interactivity is what I am passionate about the most. I am constantly expanding my knowledge and love to learn about innovative and progressive development languages to implement in my own work. I have a passion to create dynamic, intuitive, and functional web applications. 
      </p>
      
      <h5 class='hobbyHeader'>In my spare time...</h5>
      <p class='para2'>
        I'm usually learning about new javascript or css methods. I am also a lover of video games, especially on Xbox. My gamertag is nappunkoder if you want to catch a game with me. 
      </p>
    </div>
    <div class="skills">
      <h5>My skills</h5>
      <div class="first">
        <img ng-src='../images/html5.png' alt='html5'>
        <img ng-src='../images/css3.png' alt='css3'>
        <img ng-src='../images/js.png' alt='js'>
        <img ng-src='../images/jquery.png' alt='jquery'>
        <img ng-src='../images/angular.png' alt='angular'>
        <img ng-src='../images/react.png' alt='react'>
      </div>
      <div class="second">
        <img ng-src='../images/backbone.png' alt='backbone'>
        <img ng-src='../images/bourbon.png' alt='bourbon'>
        <img ng-src='../images/sass.png' alt='sass'>
        <img ng-src='../images/foundation.png' alt='foundation'>
        <img ng-src='../images/wordpress.png' alt='wordpress'>
        <img ng-src='../images/photoshop.png' alt='photoshop'>
      </div>
    </div>
  </section>



  <!-- My Portfolio Section -->
  <section class='portfolio' id='first' data-magellan-target='first'>
    <h3>Portfolio</h3>
    <div class='myWorks'>
      <div class='projects'>
        <a href='#/projects'>
          <img ng-src='../images/projects.png' alt='projects'>
        </a>
        <small>Web development works</small>
      </div>
      <div class='graphics'>
        <a href='#/graphics'>
          <img ng-src='../images/graphics.png' alt='graphics'>
        </a>
        <small>Logos created for projects</small>
      </div>
    </div>

    
  </section>

  <section class="contact">
    <div class="contactForm">
      <h3>Contact Me</h3>
      <form action="//formspree.io/hyona@hyonakim.com"
        method="POST">
      <input type="text" name="name" placeholder='Name' class='input1'>
      <textarea name='message' rows='6' placeholder='Message' class='input2'></textarea>
      <input type="email" name="_replyto" placeholder='Your email address' class='input1 inputLeft'>
      <input type="email" name="_replyto" placeholder='Subject' class='input1 inputLeft'>  
      <input type="submit" value="Send" class='button'>
      </form>
    </div>
  </section>

  <footer>
    <div class="footerInfo">
      <div class="contactMe">
        <h5>Get in touch</h5>
        <hr>
        <p>404 993 7436</p>
        <p><a href='#'>hyona@hyonakim.com</a></p>
      </div>
      <div class="socialFooter">
        <div class="socialIcons">
          <a href='https://twitter.com/TekkieNinja' target='_blank'><i class="fa fa-twitter-square fa-3x"></i></a>
          <a href='https://github.com/hyonakim' target='_blank'<i class="fa fa-github-square fa-3x"></i></a>
          <a href='https://medium.com/@hyonakim' target='_blank'<i class="fa fa-medium fa-3x"></i></a>
        </div>
        <div class="followMe">
          <p>Follow me through social media</p>
          <hr>
        </div>
      </div>
      <div class="footerLogo">
        <img ng-src='../images/mylogowhite.png' alt='my logo'>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright &copy;2016 - Hyona Kim</p>
      <a href="#" id="scrollToTop"><img ng-src='../images/uptop.png'></a>
    </div>
  </footer>


  