<!-- <nav class="top-bar" data-topbar role="navigation">
<div><a href="#/" class='title'><img src="../images/mylogo.png" width='150'></a></div>
  <section class="top-bar-right vertical medium-horizontal menu">
    <ul class='menu'>
      <li><a href="#/">Home</a></li>
      <li><a href="#/about">About</a></li>
      <li><a href="#/projects">Projects</a></li>
      <li><a href="#/contact">Contact</a></li>
    </div>
    </ul>
  </section>
</nav> -->


<section class="container" ui-view></section>