<img ng-src='../images/columns.png' class='projectsBg'>

<nav aria-label="You are here:" role="navigation" class='bread'>
  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Projects
    </li>
  </ul>
</nav>

<h2 class='projectHeader'>projects</h2>

<div class="outer">
<div class="workGallery">
      <div class='wrapper' data-toggle='animatedModal1'>
        <img ng-src='../images/localizeSite.png' class='littleModal' alt='Localize Site'>
        <div class="content">
          <p class="text_area">
            Localize
          </p>
        </div>
      </div>
      <div class='wrapper' data-toggle='animatedModal2'>
        <img ng-src='../images/lanparty.png' class='littleModal' alt='Localize Site'>
        <div class="content">
          <p class="text_area">
            Lan Party
          </p>
        </div>
      </div>
      <div class='wrapper' data-toggle='animatedModal3'>
        <img ng-src='../images/contacts.png' class='littleModal' alt='Localize Site'>
        <div class="content">
          <p class="text_area">
            Contact List
          </p>
        </div>
      </div>
      <div class='wrapper' data-toggle='animatedModal4'>
        <img ng-src='../images/masan.png' class='littleModal' alt='Localize Site'>
        <div class="content">
          <p class="text_area">
            Masan Database
          </p>
        </div>
      </div>
      <div class='wrapper' data-toggle='animatedModal5'>
        <img ng-src='../images/hbank.png' class='littleModal' alt='Localize Site'>
        <div class="content">
          <p class="text_area">
            HBank Database
          </p>
        </div>
      </div>


      <div class='large reveal' id='animatedModal1' data-reveal data-close-on-click='true' data-animation-in='fade-in' data-animation-out='fade-out'>
        <div class="revealInfo">
          <h3>Localize</h3>
          <p>Web application that helps new locals get familiar with their city.</p>
          <div class="skillLabels">
            <h6>Tools used</h6>
            <span class="success label">HTML5</span>
            <span class="warning label">CSS3</span>
            <span class="alert label">Angular</span>
            <span class="info label">Foundation6</span>
          </div>
          <hr>
          <div class="projectLinks">
            <div class="liveDemo">
              <i class="fa fa-desktop fa-2x"></i>
              <a href='http://localize.surge.sh' target='blank'>Live Demo</a>
            </div>
            <div class="sourceCode">
              <i class="fa fa-github-alt fa-2x"></i>
              <a href='https://github.com/LocalizeTIY/Localize' target='blank'>Source Code</a>
            </div>
          </div>
        </div>
        <div class="revealVideo">
          <img ng-src='../images/localizeSite.png' class='revealImg'>
        </div>
        <button class='close-button' data-close aria-label='Close reveal' type='button'>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class='large reveal' id='animatedModal2' data-reveal data-close-on-click='true' data-animation-in='fade-in' data-animation-out='fade-out'>
        <div class="revealInfo">
          <h3>LanParty</h3>
          <p>Website where you can find information on video games and add to the growing list of games.</p>
          <hr>
          <div class="projectLinks">
            <div class="liveDemo">
              <i class="fa fa-desktop fa-2x"></i>
              <a href='http://lan-party.surge.sh' target='blank'>Live Demo</a>
            </div>
            <div class="sourceCode">
              <i class="fa fa-github-alt fa-2x"></i>
              <a href='https://github.com/hyonakim/LANParty' target='blank'>Source Code</a>
            </div>
          </div>
        </div>
        <div class="revealVideo">
          <img ng-src='../images/lanparty.png' class='revealImg'>
        </div>
        <button class='close-button' data-close aria-label='Close reveal' type='button'>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class='large reveal' id='animatedModal3' data-reveal data-close-on-click='true' data-animation-in='fade-in' data-animation-out='fade-out'>
        <div class="revealInfo">
          <h3>Contact List Simulation</h3>
          <p>This was a simple simulation of a contact list</p>
          <hr>
          <div class="projectLinks">
            <div class="liveDemo">
              <i class="fa fa-desktop fa-2x"></i>
              <a href='http://mypeeps.surge.sh/index.html' target='blank'>Live Demo</a>
            </div>
            <div class="sourceCode">
              <i class="fa fa-github-alt fa-2x"></i>
              <a href='https://github.com/hyonakim/MyPeeps_ContactList' target='blank'>Source Code</a>
            </div>
          </div>
        </div>
        <div class="revealVideo">
          <img ng-src='../images/contacts.png' class='revealImg'>
        </div>      
        <button class='close-button' data-close aria-label='Close reveal' type='button'>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class='large reveal' id='animatedModal4' data-reveal data-close-on-click='true' data-animation-in='fade-in' data-animation-out='fade-out'>
        <div class="revealInfo">
          <h3>Masan High Database</h3>
          <p>A high school database of students. Find information on each student and add students to the database.</p>
          <hr>
          <div class="projectLinks">
            <div class="liveDemo">
              <i class="fa fa-desktop fa-2x"></i>
              <a href='http://barbarous-houses.surge.sh/' target='blank'>Live Demo</a>
            </div>
            <div class="sourceCode">
              <i class="fa fa-github-alt fa-2x"></i>
              <a href='https://github.com/hyonakim/MasanHighDatabase' target='blank'>Source Code</a>
            </div>
          </div>
        </div>
        <div class="revealVideo">
          <img ng-src='../images/masan.png' class='revealImg'>
        </div>            
        <button class='close-button' data-close aria-label='Close reveal' type='button'>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class='large reveal' id='animatedModal5' data-reveal data-close-on-click='true' data-animation-in='fade-in' data-animation-out='fade-out'>
        <div class="revealInfo">
          <h3>HBank Database</h3>
          <p>A fictitious bank database with customer account information.</p>
          <hr>
          <div class="projectLinks">
            <div class="liveDemo">
              <i class="fa fa-desktop fa-2x"></i>
              <a href='http://hbank.surge.sh/' target='blank'>Live Demo</a>
            </div>
            <div class="sourceCode">
              <i class="fa fa-github-alt fa-2x"></i>
              <a href='https://github.com/hyonakim/BackboneParse' target='blank'>Source Code</a>
            </div>
          </div>
        </div>
        <div class="revealVideo">
          <img ng-src='../images/hbank.png' class='revealImg'>
        </div>            
        <button class='close-button' data-close aria-label='Close reveal' type='button'>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
